@media (max-width: 1100px) {
  .main__inner {
    display: block;
  }
  .main_slider {
    margin: 0 auto;
  }
  .aside {
    max-width: 100%;
    z-index: 4;
    margin-left: 0px;
  }
  .about_item + .about_item {
    margin-top: 0px;
  }
  .about_items {
    display: flex;
    gap: 20px;
  }
  .about_author {
    max-width: 340px;
    margin: 0 auto;
  }
  .aside_img {
    width: 100%;
    max-width: 100%;
  }
  .aside_bottom_links {
    display: flex;
    gap: 50px;
  }
  .categories {
    width: 100%;
  }
  .social {
    width: 73%;
  }
  .tags {
    width: 100%;
  }
  .social_items {
    justify-content: center;
  }
  .tags_content {
    gap: 3px;
  }
}
@media (max-width: 1040px) {
  .header__text {
    max-width: 50%;
    margin-right: 0;
  }
}

@media (max-width: 1000px) {
  .contact_img {
    width: 200px;
  }
  .main__content {
    max-width: 755px;
    gap: 27px;
  }
  .slick-track {
    padding-left: 0;
  }
}
/* @media (max-width: 837px) {
.slider_container {
  padding: 0 5px;
}} */

@media (max-width: 815px) {
  .header__text {
    max-width: 80%;
  }
  .header__inner {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .header__content {
    min-height: calc(100vh - 69px);
  }
  .main__content {
    grid-template-columns: 47% 47%;
    justify-content: center;
  }
  .slick-arrow {
    bottom: 125px;
  }
  .slick-dots {
    bottom: 126px;
  }
}
@media (max-width: 768px) {
  .featured_posts {
    max-width: 340px;
    margin: 0 auto;
  }
  .about_items {
    display: block;
  }
  .about_item + .about_item {
    margin-top: 20px;
  }

  .aside_bottom_links {
    display: block;
    max-width: 340px;
    margin: 0 auto;
    margin-top: 35px;
  }
  .categories {
    margin-bottom: 30px;
  }
  .social {
    width: 100%;
    margin-bottom: 30px;
  }
  .tags {
    width: 100%;
    margin-bottom: 30px;
  }
  .tags_content {
    justify-content: center;
  }

  .contact_title {
    margin-bottom: 30px;
  }
  .contact_img + .contact_img {
    margin-left: 10px;
  }
}

@media (max-width: 650px) {
  .slick-next {
    right: 7%;
  }
  .slick-prev {
    left: 7%;
  }
}

@media (max-width: 600px) {
  .logo {
    padding-top: 7px;
  }
  .menu_brg {
    display: block;
  }
  .header__menu-list {
    position: absolute;
    display: block;
    text-align: center;
    left: 0%;
    width: 100%;
    margin-top: 32px;
  }
  .header__menu-item + .header__menu-item {
    margin-left: 0px;
    margin-top: 15px;
  }
  .header__menu-list {
    font-size: 17px;
    line-height: 20px;
    transition: all 0.5s;
    transform: translateY(-200%);
  }
  .header__menu-list.active {
    transform: translateY(0%);
  }
}

@media (max-width: 568px) {
  .main__content {
    grid-template-columns: 47% 47%;
    gap: 15px;
  }
  .header {
    margin-bottom: 30px;
  }
  .item_text-title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 5px;
  }
  .item_text-type {
    font-size: 10px;
    line-height: 8px;
  }
  .item_text-date {
    font-size: 10px;
    line-height: 12px;
  }
  .wide_block-text {
    display: none;
  }
  .slick-dots {
    gap: 30px;
  }
  .slick-arrow {
    display: none;
  }

  .wide_block_content {
    padding-left: 0;
    text-align: center;
  }
}
@media (max-width: 530px) {
  .header__text {
    max-width: 100%;
  }
  .contact_title {
    font-size: 19px;
    line-height: 23px;
  }
  .slider_container {
    padding: 0 5px;
  }
}

@media (max-width: 430px) {
  .header__title {
    font-size: 29px;
    line-height: 35px;
    margin-bottom: 10px;
  }
  .main__content {
    grid-template-columns: 46% 46%;
    gap: 15px;
  }
  .header__text-bottom {
    font-size: 13px;
  }
  .contact_img + .contact_img {
    margin-left: 0px;
  }
  .main {
    margin-bottom: 20px;
  }
  .footer__menu-item + .footer__menu-item {
    margin-left: 12px;
  }
  .footer_social {
    gap: 13px;
  }
  .footer__menu-list {
    margin-top: 30px;
  }
}

@media (max-width: 370px) {
  .main__content {
    gap: 4px;
    grid-template-columns: 49% 49%;
  }
  .main__content-item:hover {
    transform: scale(1);
  }
  .about_item_top:hover,
  .about_item:hover {
    transform: scale(1);
  }
  .wide_block_content {
    padding: 14px;
  }
  .slick-track {
    padding: 0;
  }

  .item_text-title {
    font-size: 14px;
    line-height: 15px;
  }
  .main__content {
    margin-bottom: 100px;
  }
  .slick-dots {
    bottom: 55px;
  }
}
