* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "PT Serif", serif;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}

.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

.flex_container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
}
