* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}



@font-face {
  font-family: "HK Grotesk";
  src: url("font/hkgrotesk-light-web.woff") format("woff"),
    url("font/hkgrotesk-light-web.woff2") format("woff2"),
    url("font/HKGrotesk-Light.otf") format("otf"),
    url("font/HKGrotesk-Light.ttf") format("ttf");

  font-style: normal;
  font-weight: normal;
}

body {
  font-family: "PT Serif", serif;
  overflow-x: hidden;

}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}

.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

.flex_container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
}
